.container {
    padding-top: 10px;
    width: 800px;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: #0066CC;
    
}

.navbar .nav > li > a:hover {
    color: #66CCFF;
}


.form-horizontal .control-label {
    text-align: left;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {
	background: rgba(0, 0, 0, 0.72);
}